@import "./mixin";

.package {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;

  img {
    height: 12rem;
    object-fit: contain;
  }

  .title {
    @include flexSpaceBetween();

    h1 {
      font-size: 24px;
      font-weight: inherit;
    }
  }

  .details {
    @include flexSpaceBetween();
    gap: 20px;

    ul {
      list-style: none;
      padding: 2px;
      font-size: 16px;
      font-weight: inherit;
    }
  }

  .tags {
    @include flexSpaceBetween();
    gap: 20px;

    ul {
      list-style: none;
      background-color: #d1d5db;
      border-radius: 5px;
      padding: 5px;
      font-size: 16px;
      font-weight: inherit;
    }
  }

  &.selected {
    border: 2px green solid;
  }

  &:hover {
    transform: scale(1.05);
  }
}
